/* Menu */

.one {
	width: 100%;
	height: 4px;
	background: black;
}

.header {
	width: 100%;
	background-color: darkviolet;
    /* background-image: linear-gradient(to right, red, orange, yellow, green, blue, purple); */
	padding: 25px;
}

.header img {
	background-color: black;
	border-radius: 5px;
	border: 5px solid black;
}

.topo {
	text-align: right;
}

.topo ul li {
	display: inline-block;
	margin-left: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.topo ul li a {
	font-family: Arial;
	font-size: 17px;
	font-weight: bold;
	color: white;
	text-transform: uppercase;
	line-height: 20px;
	text-decoration: none;
}

.topo ul li a:hover {
	color:  black;
}