/* Smartphone */

@media only screen and (max-width: 787px) {
	.header img {
		margin-left: 125px;
	}

	.header {
		position: relative;
		height: 300px;
	}

	.topo ul li a{
		text-align: center;
	}

	.topo ul li a {
		display: block;
		float: left;
		padding: 5px;
		border: 2px solid pink;
		border-radius: 6px;
		width: 220px;
		padding: 10px;
	}

	.rodape {
		height: 120px;
	}

	.rodape h3 {
		line-height: 120px;
		font-size: 15px;
	}

	.contact-form {
		margin-top: 250px;
	}
}