

body {
	background-color: darkblue;
}

/* Conteudo Principal */

.principal {
	border: 4px solid rgb(90, 90, 90);
	margin: auto;
	width: 95%;
	margin-top: 10px;
	border-radius: 6px;
	background-color: white;
}

.bandeira h2 {
	margin-top: 75px;
	font-size: 45px;
	text-align: center;
	color: red;
	text-transform: uppercase;
	text-shadow: black 1px 1px 1px;
	font-weight: bold;
}

.bandeira h4 {
	font-family: Arial;
	font-size: 24px;
	color: darkviolet;
	text-transform: uppercase;
	text-align: center;
	text-shadow: black 1px 1px 1px;
	font-weight: bold;
	margin-bottom: 50px;
}

.bandeira {
	margin-top: 75px;
}

.bandeira img {
	width: 100%;
}
.bandeira li {
	font-family: Arial;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	color: white;
	line-height: 50px;
	margin-bottom: 10px;
	background-color: black;
	border-radius: 10px 10px 10px 10px;
}

.bandeira h3 {
	background: blue;
	color: white;
	font-weight: bold;
	border-radius: 10px 10px 0 0;
}

.bandeira li p {
	font-family: Arial;
	font-size: 17px;
	line-height: 30px;
	margin-bottom: 20px;
	color: white;
	text-transform: initial;
	text-align: center;
	border-radius: 0 0 10px 10px;
}

.bandeira .grid-6 {
	line-height: 30px;
	background-color: white;
}

.bandeira .grid-6 img {
	border-radius: 0 0 10px 10px;
}

/* Conteudo Principal 2 */

.principal2 {
	margin-top: 50px;
	border: 4px solid rgb(90, 90, 90);
	margin: auto;
	width: 95%;
	margin-top: 10px;
	border-radius: 6px;
	background-color: white;
}

.historia_titulo h2 {
	margin-top: 75px;
	font-size: 45px;
	text-align: center;
	color: red;
	text-transform: uppercase;
	text-shadow: black 1px 1px 1px;
	font-weight: bold;
}

.historia_titulo h4 {
	font-family: Arial;
	font-size: 24px;
	color: darkviolet;
	text-transform: uppercase;
	text-align: center;
	text-shadow: black 1px 1px 1px;
	font-weight: bold;
	margin-bottom: 50px;
}

.historia_texto p {
	text-align: left;
	margin-right: 20px;
	margin-left: 20px;
	margin-bottom: 25px;
	font-size: 20px;
}
.historia_texto b {
	font-weight: bold;
}

.historia_texto img {
	margin-top: 20px;
	border-radius: 10px;
	margin-right: 20px;
	margin-left: 20px;
	width: 50%;
}
.historia_texto h5 {
	margin-left: 25px;
	font-weight: bold;
}